extends layout

block content
  h1= title
  p I know it’s crazy, but I love to eat…
  p “When I was growing up, my parents has given me freedom to do what ever i want .. nd they never restricted me.....”
